* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Roboto,  Arial " !important;
  background: linear-gradient(rgb(233, 246, 247), rgb(149, 233, 254));
  height: auto;
  position: relative;
  /* overflow: hidden; */
}
